<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>MyTestApplication</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">	
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyTestApplication</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
      	  <a class="nav-link disabled">Welcome <span sec:authentication="principal.username"> User</span></a>
      	</li>
      </ul>
      <ul class="navbar-nav navbar-text">
		<li sec:authorize="isAuthenticated()">
			<a th:href="@{/logout}">Logout</a>
		</li>
	  </ul>
      
    </div>
    
  </div>
</nav>
	<br>
	<div class="container">
		<hr>
		<h2>Update Sub-User</h2>

		<form action="#" th:action="@{/saveSubUser}" th:object="${subUser}"
			method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{firstName}" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{lastName}" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{email}" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{phoneNumber}" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Update Sub-User</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Sub-User List</a>
	</div>
</body>
</html>